{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Accueil
{% endblock %}

{% block body %}
    <h2>Bienvenue sur mon site</h2>
    <img src="{{ asset('img/memePasPeur.jpg') }}">
{% endblock %}

