{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {% embed 'view/form/whisform.html.twig' with {'wishForm' : wishUpdateForm} %}
        {% block formTitle %} Update a wish {% endblock %}
        {% block buttonLabel %}
            <a href="{{ path('wish_update', {'id' : wish.id}) }}">Update a wish</a>
        {% endblock %}
    {% endembed %}
{% endblock %}
