<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {# lien vers page de style css #}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    {# liens pour font google #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">

    {# afficher favicon dans onglet de la page #}
    <link rel="icon" href="{{ asset ('img/favicon.png') }}">

    <title>{% block title %}Bucket List |{% endblock %}</title>

</head>
<body>
    {% block styleCss %} {% endblock %}

    {% include 'bodyfragments/header.html.twig' %}
<div class="container">
    <main>
        {# afficher messages flash stockés #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}Main par défaut{% endblock %}
    </main>
    {% include 'bodyfragments/footer.html.twig' %}
</div>
</body>
</html>
