<header>
    <div class="entete">
        <img src="{{ asset('img/logo.svg') }}" alt="Mon site | Accueil" id="logo">
        <h1>Bucket List</h1>
    </div>
    {% include 'bodyfragments/nav.html.twig' %}
</header>